<mat-card class="card-create">
    <mat-card-title class="card-title">
        Você esta listando os filmes
    </mat-card-title>
    <div class="btn-add-movies">
        <button mat-flat-button color="accent" (click)="navigateToMovieCreate()">Adicionar Filme</button>
    </div>
</mat-card>

<mat-card class="card-find">
    <mat-card-title class="card-title">
        Você esta buscando filmes por id ou nome
    </mat-card-title>
    <div class="btn-find-movies">
        <button mat-flat-button color="accent" (click)="navigateToMovieFind()">Buscar Filme</button>
    </div>
</mat-card>

<app-movie-index></app-movie-index>