.card {
    background-color: black;
    color: white;
    margin: 0.8rem;
    
}


.card-create .card-title{
    font-size: 1.5rem;
    padding: 1.5rem;
}

.card-find .card-title{
    font-size: 1.5rem;
    padding: 1.5rem;
}

.btn-add-movies{
    display: flex;
    justify-content: end;
    padding: 1.2rem;
}


.btn-find-movies{
    display: flex;
    justify-content: end;
    padding: 1.2rem;
}

.card-find{
    margin: 0.3rem;
}

.card-create{
    margin: 0.3rem;
}
