<table mat-table [dataSource]="movies" class="table-index">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition"
          -->
  
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
    <!-- title Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Titulo </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

    <!-- director Column -->
    <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef> Diretor </th>
      <td mat-cell *matCellDef="let element"> {{element.director}} </td>
    </ng-container>
  
    <!-- genres Column -->
    <ng-container matColumnDef="genres">
      <th mat-header-cell *matHeaderCellDef> Genero </th>
      <td mat-cell *matCellDef="let element"> {{element.genres}} </td>
    </ng-container>
  
    <!-- year Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Ano de Lançamento </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  