<mat-card class="card-create">
    <mat-card-title class="card-title">
        Adicionar Filmes
    </mat-card-title>
    <form class="form-label">
      <mat-form-field appearance="outline">
        <mat-label>Informe o nome do filme</mat-label>
        <input matInput  name="title" [(ngModel)]="movie.title">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Informe o nome do diretor</mat-label>
        <input matInput type="text" placeholder="Nome do diretor" name="director" [(ngModel)]="movie.director">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Informe o genero do filme</mat-label>
        <input matInput type="text" placeholder="Genero do filme" name="genres" [(ngModel)]="movie.genres">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Informe o ano do filme</mat-label>
        <input matInput type="text" placeholder="Ano do filme" name="year" [(ngModel)]="movie.year">
      </mat-form-field>
      
    </form>
      

<div class="btn-add-movies">
    <button mat-flat-button color="accent" (click)="createMovie()">Salvar</button>
    <button mat-flat-button color="accent" (click)="cancelar()">Cancelar</button>
</div>
</mat-card>
