.sidenav {
    background-color: black;
}

.sidenav a {
    color: aliceblue;
}

.sidenav i {
    color: aliceblue;
}
.material-icons{
    vertical-align: middle;
    padding: 2px;
}

.mat-list{
    vertical-align: middle;
    padding: 2px;
    position: absolute;
}
