<mat-sidenav-container class="nav-container" >
    <mat-sidenav mode="side" opened fixedInViewport="true" fixedTopGap="60">
        <mat-nav-list class="mat-list">
            <a mat-list-item> 
                <i class="material-icons">movie_filter</i>
                Main
            </a>
            <a mat-list-item>
                <i class="material-icons">person</i>
                Accont
            </a>
            <a mat-list-item>
                <i class="material-icons">settings</i>
                Setting
            </a>
            <a mat-list-item>
                <i class="material-icons">payments</i>
                Pay-p
            </a>
            <a mat-list-item>
                <i class="material-icons">info</i>
                About
            </a>
            <a mat-list-item>
                <i class="material-icons">logout</i>
                Logout
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>