.sidenav {
    background-color: black;
}

.sidenav .mat-list{
    width: auto;
}
.sidenav a {
    color: white;
}

.sidenav i {
    color: white;
}
.content {
    padding: 10px;
    background-color: #696969;
    color: white;
}
.material-icons{
    vertical-align: middle;
    padding: 2px;
}

.mat-list{
    vertical-align: middle;
    padding: 2px;
    position: absolute;
}
