<mat-sidenav-container class="container" >
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="65">
        <mat-nav-list class="mat-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">person</i>
                Accont
            </a>
            <a mat-list-item routerLink="/finance"> 
                <i class="material-icons">payments</i>
                Main
            </a>
            <a mat-list-item routerLink="/setting">
                <i class="material-icons">settings</i>
                Setting
            </a>
            <a mat-list-item routerLink="/movies">
                <i class="material-icons">movie_filter</i>
                Movies
            </a>
            <a mat-list-item routerLink="/about">
                <i class="material-icons">info</i>
                About
            </a>
            <a mat-list-item routerLink="/logout">
                <i class="material-icons">logout</i>
                Logout
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>