.mat-sidenav {
    background-color: black;
    flex-direction: column;
    width: 180px;
}

.content {
    position: relative;
    padding: 0.8rem;
    background-color: #696969;
    color: white;
}
.material-icons{
    vertical-align: middle;
    margin: 0.2rem;
}

.mat-list{
    position: absolute;
}

a {
    justify-content: center;
    margin: 1.2rem;
}

